<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3004000" android:versionName="3.4.0-SNAPSHOT" package="com.motwin.android.context.test">
  <uses-sdk android:minSdkVersion="8"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="com.motwin.android.context.test"/>
  <application>
    <uses-library android:name="android.test.runner"/>
  </application>
</manifest>